html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#wrapper {
  margin: 0 auto;
  max-width: 1360px;
  width: 90%;
  font-family: 'Cabin', sans-serif; }

a {
  color: blue;
  text-decoration: none; }

/*a:visited {
	color: blue;
}*/
h1 {
  font-size: 22px;
  text-align: center; }

input, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  margin: 10px auto;
  padding: 6px 12px;
  width: 100%; }

/* Header/Navbar */
.navbar {
  border-bottom: 2px solid #7EC0EE;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px; }

.navbar-element {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-top: 25px;
  margin: 25px 10px 0 10px; }

.navbar-center {
  margin-top: 10px; }

#view-by {
  font-size: 13px; }

/* User Creation/Login Forms */
.user-form {
  margin: 0 auto;
  max-width: 500px;
  width: 50%;
  text-align: center; }

.user-submit {
  background-color: #4f86b5;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
  vertical-align: middle; }

.user-submit:hover {
  background-color: #4778A2; }

.user-error {
  color: #cc0000;
  font-size: 12px;
  float: left;
  vertical-align: top; }

#login-error {
  color: #cc0000; }

/* Post Title */
.post-title-div {
  display: block; }

.votes-section {
  bottom: 10px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  text-align: center; }

.post-section {
  display: inline-block;
  margin-bottom: 10px; }

.vote-arrow {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px; }

.vote-counter {
  font-weight: bold;
  position: relative;
  bottom: 3px;
  text-align: center; }

.post-link {
  font-size: 16px; }

.post-link:visited {
  color: #551a8b; }

.submission-info {
  font-size: 10px; }
  .submission-info a {
    color: #369; }

.link-to-comments {
  color: #888;
  font-size: 10px;
  font-weight: bold; }

/* Subreddit show page */
#subreddit-links-area {
  float: left; }

#new-content-links {
  float: right;
  line-height: 1.8; }

/* Post creation page */
#post-type-selector-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 25px;
  min-width: 350px;
  width: 50%; }
  #post-type-selector-area .selected {
    background-color: #7D9CA7; }

.post-type-selector {
  background-color: #9BC2CF;
  border: 1px solid #6c8790;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px; }

.post-type-selector:hover {
  background-color: #8baeba; }

#post-creation-form {
  margin: 0 auto;
  width: 80%; }
  #post-creation-form textarea {
    height: 200px;
    resize: none; }

#text-input {
  display: none; }

/* Comments Page */
.comments-section {
  border-top: 1px dotted #808080; }

/*# sourceMappingURL=app.css.map */
