

#wrapper {
	margin: 0 auto;
	max-width: 1360px;
	width: 90%;
	font-family: 'Cabin', sans-serif;
}

.navbar {
	border-bottom: 2px solid #7EC0EE;
	border-radius: 2px;
	display: flex;
	height: 40px;
	align-items: center;
	align-content: stretch;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 20px;
}

.navbar-element {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-top: 25px;
	margin: 25px 10px 0 10px;
}

.navbar-center {
	margin-top: 10px;
}

/* User Creation/Login Forms */
.user-form {
	margin: 0 auto;
	max-width: 500px;
	width: 50%;
	text-align: center;

	input {
		border: 1px solid #ccc;
		border-radius: 4px;
		height: 30px;
		margin: 10px auto;
		padding: 6px 12px;
		width: 90%;
	}
}

.user-header {
	font-size: 22px;
}

.user-error {
	color: #cc0000;
	font-size: 12px;
	float: left;
	vertical-align: top;
}

.user-submit {
	background-color: #4f86b5;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	padding: 10px 20px;
	text-transform: uppercase;
	vertical-align: middle;
}

.user-submit:hover {
	background-color: #4778A2;
}

