$error: #cc0000;
$btn-color: #4f86b5;

$upvote: #FF8B60;
$downvote: #9494FF;
$inactive-vote: #ACACAC;

$link-color: #369;


#wrapper {
	margin: 0 auto;
	max-width: 1360px;
	width: 90%;
	font-family: verdana, sans-serif;
}

a {
	color: $link-color;	
	text-decoration: none;
}

h1 {
	font-size: 19px;
	text-align: center;
}

#coming-soon {
	text-align: center;
}

.wide-field {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
	margin: 10px auto;
	padding: 6px 12px;
	width: 100%;
}

/* Header/Navbar */

.navbar {
	border-bottom: 2px solid #7EC0EE;
	border-radius: 2px;
	display: flex;
	height: 40px;
	align-items: center;
	align-content: stretch;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 20px;

	a {
		color: blue;
	}
}

.navbar-element {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-top: 25px;
	margin: 25px 10px 0 10px;
}

.view-by-left {
	float: left;
	text-align: center;
}

.view-by-right {
	float: right;
}

.header-logo {
	position: relative;
	margin-right: 5px;
	top: -8px;
	vertical-align: top;
}

/* Forms */
.user-form {
	margin: 0 auto;
	max-width: 500px;
	width: 50%;
	text-align: center;
}

.user-submit {
	background-color: $btn-color;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	padding: 10px 20px;
	text-transform: uppercase;
	vertical-align: middle;
}

.user-submit:hover {
	background-color: #4778A2;
}

.user-error {
	color: #cc0000;
	font-size: 12px;
	float: left;
	position: relative;
	top: -7px;
	vertical-align: top;
}

#login-error {
	color: $error;
}

.input-description {
	font-size: 14px;
	margin-bottom: -7px;
}

.input-title {
	font-weight: bold;
}

.remember-user {
	text-align: left;

	input {
		background: #fcfff4;
		cursor: pointer;
	}

	label {
		cursor: pointer;
	}
}

/* Post Title */

.post-title-div {
	display: block;
}

.post-top {
	margin-bottom: 100px;
}

.link-info {
	font-size: 10px;
	color: #888;
}

.votes-section {
	bottom: 10px;
	display: inline-block;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 46px;
}

.hidden-votes {
	height: 1px;
	visibility: hidden;
}

.post-section {
	display: inline-block;
	margin-bottom: 10px;
	width: calc(100% - 60px);

	* {
		margin-bottom: 4px;
	}
}

.vote-arrow {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
}

.vote-counter {
	bottom: 3px;
	color: #ACACAC;
	display: inline-block;
	font-weight: bold;
	position: relative;
	text-align: center;
}

.upvoted {
	color: $upvote;
}

.downvoted {
	color: $downvote;
}

.post-link {
	font-size: 16px;
}

.post-link:visited {
	color: #551a8b;
}

.submission-info {
	font-size: 10px;
	color: #888;

	a {
		color: #369;
	}
}

.link-to-comments {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: bold;
	margin-top: 3px;
	width: 85px;
}

/* Subreddit show page */

.subreddit-title {
	color: black !important; 
	font-size: 13px;
	font-weight: bold;
	margin-left: 10px;
	text-transform: uppercase;
}

.subreddit-title:hover {
	text-decoration: underline;
}

.view-subreddit-by {
	text-align: center;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: 10px;
}

#view-by {
	font-size: 13px;
}

.sort-top-link {
	display: inline-block;
}

.sort-top-dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-align: left;
}

.sort-top-link:hover .sort-top-dropdown {
	display: block;
}

.time-selection-choice {
	display: block;
}

#subreddit-links-area {
	float: left;
	max-width: calc(100% - 300px);
}

#subreddit-view-right {
	float: right;
}

#new-content-links {
	float: right;
	line-height: 1.8;
}

.pagination-link {
	display: inline-block;
	margin: 10px 10px 30px 40px;
}

.first-paginator {
	margin-left: 183px;
}


/* Sidebar */

.sidebar {
	clear: right;
	float: right;
	font-size: 15px;
	margin-top: 30px;
	width: 275px;
}

.sidebar-title {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: capitalize;

	a {
		color: black;
	}
}

.subscription-area {
	padding-left: 40px;
}

.subscribe-btn {
	color: white;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 20px;
	text-align: center;
	width: 75px;
	
}

.unsubscribed {
	background-color: #5ea96a;
}

.subscribed {
	background-color: #CD6165;
}

.subscriber-count {
	margin-left: 10px;
}

/* Post creation page */

#post-type-selector-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 25px;
	min-width: 350px;
	width: 50%;

	.selected {
		background-color: #9ecaed;
		box-shadow: 0 0 10px #9ecaed;
	}
}

.post-type-selector {
	background-color: #EBEBE4;
	border: 1px solid #6c8790;
	border-radius: 4px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px;
}

.post-type-selector:hover {
	box-shadow: 0 0 10px #9ecaed;
}

#post-creation-form {
	margin: 0 auto;
	width: 80%;

	textarea {
		height: 200px;
		resize: none;	
	}
}

#text-input {
	display: none;
}

/* Comments Page */

.comments-page {
	
}

.textpost-body {
	background-color: #FAFAFA;
	border: 1px solid #AAAAAA;
	display: inline-block;
	font-size: 14px;
	margin: 5px 0;
	max-width: 840px;
	overflow: hidden;
	padding: 5px 10px;
	word-wrap: break-word;
	word-break: break-word;
	white-space: pre-line;
}

.comment-input {
	height: 100px;
	max-width: 450px;
	width: 100%;
}

.comments-section {
	border-top: 1px dotted #808080;
	margin-bottom: 25px;
	padding-top: 15px;
}

.comment-container {
	padding-top: 5px;
}

.comment-main {
	display: inline-block;
	position: relative;
	right: 15px;
	width: calc(100% - 60px);
}

.minimize-btn, .maximize-btn {
	cursor: pointer;
}

.minimize-btn:hover, .maximize-btn:hover {
	text-decoration: underline;
}

.maximize-btn {
	display: none;
}

.comment-info, .comment-actions {
	color: #888;
	font-size: 10px;
}

.comment-votes {
	position: relative;
	top: 5px;
}

.comment-body {
	font-size: 14px;
	padding: 7px 5px;
}

.comment-actions {
	font-weight: bold;
	margin-bottom: 5px;

	a {
		color: #888;
	}

	li {
		display: inline-block;
		margin-right: 8px;
	}
}

.child-comment-textarea {
	display: block;
	width: 500px;
	margin-bottom: 10px;
}

.child-comment-submit-btn {
	margin: 0 5px 15px 0;
}

.child-comment {
	border-left: 1px dotted #ddddff;
	margin-left: 15px;
	padding-left: 6px;
}

.comment-minimized {
	margin-bottom: 10px;
	position: relative;
	bottom: 5px;
}

.linked-comment {
	background-color: #ffc;
}

.permalink-comment-alert {
	background-color: #f6e69f;
	border: 1px solid #ffa500;
	margin-bottom: 10px;
	padding: 5px 10px;

	a {
		color: $link-color;
	}
}

/* Subreddit List Page */

#subreddits-list {
	margin: 0 auto;
	width: 500px;

	th {
		color: $link-color;
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
		position: relative;
		right: 15px;
		text-decoration: underline;
	}
}

.subreddit-listing {
	font-size: 13px;
	padding-bottom: 200px;

	td {
		padding-bottom: 20px;
	}

	.subreddit-name {
		font-weight: bold;
		color: $link-color;
	}
}